.sidebar {
    z-index: 999;
    position: fixed;
    transition: 0.3s ease-in;
    display: flex;
    padding-left: 70px;
    flex-direction: column;

    height: 100vh;
    width: 316px;
    left: -316px;
    top: 0;

    background-color: #FFF;
}

.sidebar.open {
    position: fixed;
    transition: 0.3s ease-out;

    left: 0;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13),
    0 1px 2px rgba(29, 33, 38, 0.1);
}

.background {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: black;
    opacity: 0.5;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}
.close {
    background-color: #FFFFFF;
    padding: 0;
    border: none;
    margin-top: 16px;
    margin-right: 24px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}

.close img {
}
