.select {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 100px;
}

.select:focus {
    outline: 1px solid black;
}


.option:hover {
}
