.burgerMenuIcon {
    cursor: pointer;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 40px 0 rgba(29, 33, 38, 0.13), 0 0 2px 0 rgba(29, 33, 38, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    top: 0;
    position: fixed;
    z-index: 2;
}

.header h1 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
}