.button {
    display: inline-flex;
    padding: 5px 24px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.disabled {
    background-color: #004D99;
    cursor: default;
}

.secondary {
    background-color: transparent;
    border: 1px solid #06C;
    color: #06C;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
    opacity: 0.5;
}
